=nested_form_for@user,html:{class:'form-horizontal'} do |f|
  .errors
    -if @user.errors.any?
      %h1= pluralize(@user.errors.count, "error")
      %p An error occurred
    -@user.errors.full_messages.each do |msg|
      %li= msg
  .name
    =f.label :User_name
    =f.text_field :user_name
  .password
    =f.label :password
    =f.password_field :password
    /=f.text_field :password
  .multipleProfile
    .profile
      =f.fields_for :profile do |profile_attributes|
        .firstName
          =profile_attributes.label :first_name
          =profile_attributes.text_field :first_name
        .lastName
          =profile_attributes.label :last_name
          =profile_attributes.text_field :last_name
        .email
          =profile_attributes.label :email
          =profile_attributes.text_field :email
        .gender
          =profile_attributes.label :gender
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          =profile_attributes.label :gender_true , "Male"
          =profile_attributes.radio_button :gender, true, :checked => true
          &nbsp;&nbsp;&nbsp;&nbsp;
          =profile_attributes.label :gender_false, "Female"
          =profile_attributes.radio_button :gender, false
          %br
          =profile_attributes.link_to_remove "Remove This Profile"
          /=profile_attributes.check_box :gender
  =f.link_to_add  "Add Profile", :profile
  .submit
  =f.submit