-if(@user.errors.any?)
  .errorBox
    %h4 #{@user.errors.count} Validation Errors
    -@user.errors.full_messages.each do |msg|
      %p #{msg}
= nested_form_for (@user) do |f|
  %fieldset
    %table
      %tr
        %td
          %label{for: "name"} UserName:
        %td
          %input{type: "text", name: "user[user_name]", class:"text", value: @user.user_name}
      %tr
        %td
          %label{for: "password"} Password:
        %td
          %input{type: "password", name: "user[password]", class:"text", value: @user.password}
      =f.fields_for :profile do |prof|
        %tr
          %td
            =prof.label :first_name
          %td
            =prof.text_field :first_name
        %tr
          %td
            =prof.label :last_name
          %td
            =prof.text_field :last_name
        %tr
          %td
            =prof.label :email
          %td
            =prof.text_field :email
        %tr
          %td
            =prof.label :gender
          %td

            =prof.radio_button :gender ,true,checked: true
            =prof.label :gender_true ,"Male"
            =prof.radio_button :gender ,false
            =prof.label :gender_false,"Female"
        %tr
          %td
            =prof.link_to_remove "remove"
      %tr
        %td
          %td
            %input{type: "submit", value:"Save User", class:"button"}
      %tr
        %td
          -#=f.link_to_add "Add a task", :profiles


