// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pageWrapper{
  width: 960px;
  margin: 0px auto;
}
.errorBox{
  border:1px solid red;
  margin-bottom: 20px;
}
.newUser{
  display: block;
  margin-bottom: 20px;
}
